<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Desenvolvedores</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="/static/img/logo.png" alt="Logo" class="logo">
            <nav>
                <a href="/templates/index.html">Home</a>
                <a href="/templates/cadastro.html">Cadastro</a>
                <a href="/templates/admin.html">Administração</a>
            </nav>
        </div>
    </header>
    <main>
        <section class="intro">
            <div class="container">
                <h1>Bem-vindo ao Portfólio</h1>
                <p>Conectamos empresas e desenvolvedores para soluções tecnológicas.</p>
            </div>
        </section>
        <section class="developers">
            <div class="container">
                <h2>Conheça os Desenvolvedores</h2>
                <div class="team">
                    <div class="card">
                        <img src="/static/img/desenvolvedor-wordpress-papel.png" alt="Dev 1">
                        <h3>Desenvolvedor 1</h3>
                        <p>Especialista em back-end.</p>
                    </div>
                    <div class="card">
                        <img src="/static/img/curso-desenvolvedor-front-end.jpg" alt="Dev 2">
                        <h3>Desenvolvedor 2</h3>
                        <p>Especialista em front-end.</p>
                    </div>
                    <div class="card">
                        <img src="/static/img/o-que-e-mysql1.jpg" alt="Dev 2">
                        <h3>Desenvolvedor 3</h3>
                        <p>Especialista em front-end.</p>
                    </div>
                    <div class="card">
                        <img src="/static/img/ícone-linear-de-especialista-do-computador-programador-homem-codificando-no-laptop-codificador-classe-social-ilustração-214825836.webp" alt="Dev 2">
                        <h3>Bruno</h3>
                        <p>JavaScript é a melhor linguagem de programação para o desenvolvimento front-end. Programação server-side. Python, PHP, Go,
                         e Ruby ajudam os bancos de dados a se comunicarem com aplicações no back-end de um programa. Desenvolvimento de aplicações web.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 - Conexão Tech</p>
        </div>
    </footer>
</body>
</html>
