<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <header>
        <img src="/static/img/logo.png" alt="Logo" class="logo">
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('cadastro') }}">Cadastro</a>
            <a href="{{ url_for('admin') }}">Administração</a>
        </nav>
    </header>
    <main>
        <section class="login-section">
            <h1>Login</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
            {% if error %}
            <p class="error">{{ error }}</p> <!-- Exibe a mensagem de erro -->
            {% endif %}
            <p>Não tem uma conta? <a href="/templates/cadastro.html">Cadastre-se aqui</a>.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 - Conexão Tech</p>
    </footer>
    <script src="/static/js/login.js"></script>
</body>

</html>